@import "~antd/dist/antd.css";

/* header: #414972 */
/* header font: #A2ACE8 */
/* button: #735D4E */
/* button font: #DBC55A */
/* icon: #DBC55A */

body {
  background-color: #f0d2a0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
  font-size: 1.1rem;
}
